@if (Request.IsAuthenticated)
{
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello Mr:" + Session["UserName"], "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("My Reservations", "GetReservationsForGuest", "Guest")
        </li>
        <li>
            @Html.ActionLink("Log Off", "LogOff", "Account")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
